<h1 class="title mb-6">
        <p>Favorite recipes!</p>
        </h1>
    <div class="field">
        <label class="label"  style="margin:auto;max-width:300px align-center">Search your saved recipes</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input">
        
    <div id="result-content" class="result-content">
        <div class="columns is-multiline" id="card-append">
        </div>
      </div>
    
      <div class="card column is-one-quarter">
        <div class="card-image">
          <figure class="image is-4by3">
          
            <img src= "https://www.homestratosphere.com/wp-content/uploads/2019/04/Different-types-of-spices-of-the-table-apr18.jpg" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
            </div>
            <div class="media-content">
              <p class="title is-4"></p>
            </div>
          </div>
      
          <div class="calories">
          <strong> Cuisine Type: </strong>
          <br>
           <strong> Calories: </strong>
           <br>
          
           <a class="view-btn" target="_blank" href="">View Recipe</a> 
          </div>
        </div>
      </div>