   <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                     <div class="box">
                        <figure class=" is-rounded">
                            <h3 class="title has-text-black">Welcome Back!</h3>

                    <p class="subtitle has-text-black">Please Login To Your Yummy Corner</p>
                            <img class="is-rounded" src="../public/images/sample/sample2.jpg">
                        </figure>
                        <form id= "login-form">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" placeholder="User Name" autofocus="" id="username-login">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Password" id="password-login">
                                </div>
                            </div>

                            <button
                                class="button is-block has-background-black is-info is-large is-fullwidth" type="submit">Login</button>
                                <p class="has-text-grey">
                                    <a href="/signup">Sign Up</a> |
                                    <a href="/search">Home</a>
                                </p>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
<<<<<<< HEAD
    <script src="/js/background-images.js"></script>
    <script src="/js/login.js"></script>
=======
    <script src="../public/js/background-images.js"></
>>>>>>> 1d6b3126c7c5f730358e96147dfeedda3462a788
