    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column card is-8 is-offset-2 register">
                    <div class="columns">
                        <div class="column left has-text-centered ">
                            <img src="../public/images/sample/sample.jpg">
                           
                            
                        </div>
                        <div class="column right has-text-centered pt-5">
                            <h1 class="title is-1 pt-5">Yummy Corner</h1>
                            <h2 class="subtitle colored is-5 pt-5">Sign-Up Today To Store Your Favorite Recipes!</h2>
                            <p>Create an account below to store your favorite recipes to come back to and share with friends!</p>
 
                            <p class="description mt-4" >All fields below are required.</p>
                            <form>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-medium" name="user_name" type="text"
                                            placeholder="User Name" id="username-signup">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-medium" type="email" placeholder="Email" id="email-signup">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-medium" name="password" type="text"
                                            placeholder="Password" id="password-signup">
                                    </div>
                                </div>
                                <button class="button is-block is-black is-fullwidth is-medium" type="submit">Sign Up</button>
                                <small>
                                    <p class="pt-4">Password Requirements:</p>
                                <em><ul>
                                <li>- Min of 8 characters</li>
                                <li>- Min 1 upper case letter</li>
                                <li>- Min 1 number</li>
                            </ul>
                                <br />
                              </em></small>
                              <a href="/login">Log In</a> |
                        <a href="/search">Home</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/background-images.js"></script>
    <script src="/js/login.js"></script>